.card{
    width: 70%;
    min-height: 70vh;
    border-radius: 20px;
}

.card h1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p{
    margin-left: 17%;
}

.tenziesMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.singleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px wheat;
}

.boxMain{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2rem;
    padding: 20px;
}

.button{
    background-color: blueviolet;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 200px;
    border: 1px solid blueviolet;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}


.singleBoxSelected{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: cornflowerblue;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px wheat;
}


@media screen and (max-width:800px){
    .card{
        width: 90%;

    }
}
@media screen and (max-width:700px){
    .boxMain{
        gap: 1rem;

    }
}
@media screen and (max-width:450px){
    .boxMain{
        gap: .6rem;

    }
}